@use '../variables'

.book
    display: flex
    gap: 1rem
    flex-wrap: wrap
    
    .books
        padding: 1rem
        background-color: variables.$background-color-darknes
        border-radius: 10px
        width: 25vw

        h2
            font-weight: 800
            font-size: 25px

        .descripition
            padding: 1rem

            p
                font-weight: 400
                font-size: 20px

                span
                    font-weight: 800
