@use '../variables'
@use '../mixins'

.navbar
    display: flex
    align-items: center
    justify-content: space-between
    padding: 1rem 2rem
    background-color: variables.$bacground-color-grey

    .title a
        font-family: variables.$font-secundary
        font-size: 33px

    .btn
        @include mixins.btn
        font-size: 20px