@use '../variables'

.new-book h2
    text-align: center
    margin: 1rem 0
    font-family: variables.$font-secundary

form
    max-width: 60vw
    width: 100%
    margin: 0 auto

    .form-control
        display: flex
        flex-direction: column
        margin-bottom: 1rem

        label
            margin-bottom: 0.5rem
            font-size: 17px
            font-weight: 700

        input
            padding: 0.8rem
            font-size: 17px
            border: none
            border-radius: 5px
