@use '../variables'
@use '../mixins'

.new-book h2
    text-align: center
    margin: 2rem 0
    font-size: 27px
    font-family: variables.$font-secundary

form
    max-width: 60vw
    width: 100%
    margin: 0 auto
    padding: 1rem
    background-color: variables.$bacground-color-grey
    border-radius: 5px
    margin-bottom: 1rem

    .form-control
        display: flex
        flex-direction: column
        margin-bottom: 1.5rem 

        label
            margin-bottom: 0.5rem
            font-size: 17px
            font-weight: 700

        input
            padding: 0.8rem
            font-size: 17px
            border: none
            border-radius: 5px

        span
            margin-top: 4.9rem
            color: red
            position: absolute
            font-weight: 700

#button
    @include mixins.btn
    color: variables.$text-color-primary
    cursor: pointer
